html[lang='fa'] body {
    font-family:
        'Segoe UI',
        Tahoma,
        Arial,
        sans-serif;
}

html[dir='rtl'] {
    .layout-topbar {
        transition: right var(--layout-section-transition-duration);

        .layout-menu-button {
            margin-right: 0;
            margin-left: 0.5rem;
        }

        .layout-topbar-actions {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .layout-sidebar {
        left: auto;
        right: 2rem;
        transition:
            transform var(--layout-section-transition-duration),
            right var(--layout-section-transition-duration);
    }

    .layout-menu {
        ul {
            a {
                .layout-menuitem-icon {
                    margin-right: 0;
                    margin-left: 0.5rem;
                }

                .layout-submenu-toggler {
                    margin-left: 0;
                    margin-right: auto;
                }
            }

            ul {
                li {
                    a {
                        margin-left: 0;
                        margin-right: 1rem;
                    }

                    li {
                        a {
                            margin-left: 0;
                            margin-right: 2rem;
                        }

                        li {
                            a {
                                margin-left: 0;
                                margin-right: 2.5rem;
                            }

                            li {
                                a {
                                    margin-left: 0;
                                    margin-right: 3rem;
                                }

                                li {
                                    a {
                                        margin-left: 0;
                                        margin-right: 3.5rem;
                                    }

                                    li {
                                        a {
                                            margin-left: 0;
                                            margin-right: 4rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    html[dir='rtl'] {
        .layout-wrapper {
            &.layout-overlay {
                .layout-main-container {
                    margin-right: 0;
                    padding-right: 2rem;
                }

                .layout-sidebar {
                    transform: translateX(100%);
                    left: auto;
                    right: 0;
                    border-top-left-radius: var(--content-border-radius);
                    border-bottom-left-radius: var(--content-border-radius);
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0;
                    border-left: 1px solid var(--surface-border);
                    transition:
                        transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
                        right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
                }

                &.layout-overlay-active {
                    .layout-sidebar {
                        transform: translateX(0);
                    }
                }
            }

            &.layout-static {
                .layout-main-container {
                    margin-left: 0;
                    margin-right: 22rem;
                }

                &.layout-static-inactive {
                    .layout-sidebar {
                        transform: translateX(100%);
                        left: auto;
                        right: 0;
                    }

                    .layout-main-container {
                        margin-right: 0;
                        padding-right: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    html[dir='rtl'] {
        .layout-topbar {
            .layout-menu-button {
                margin-left: 0.5rem;
                margin-right: 0;
            }

            .layout-topbar-menu {
                right: auto;
                left: 2rem;

                .layout-topbar-action {
                    justify-content: flex-start;

                    i {
                        margin-right: 0;
                        margin-left: 0.5rem;
                    }
                }
            }
        }

        .layout-wrapper {
            .layout-main-container {
                margin-right: 0;
                padding-right: 2rem;
            }

            .layout-sidebar {
                transform: translateX(100%);
                left: auto;
                right: 0;
                border-top-left-radius: var(--content-border-radius);
                border-bottom-left-radius: var(--content-border-radius);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                transition:
                    transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
                    right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
            }

            &.layout-mobile-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }
    }
}
